@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo Turma Jovem Programador 2025</h1>
    <p>Acesse o github da professora <a href="https://github.com/katiaschmitt">Link </a>.</p>
</div>
